<!-- user-navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container justify-content-center">
      <ul class="navbar-nav d-flex flex-row gap-4">
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="customer-dashboard.html">Tennis Court System</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="available-courts.html">View Available Courts</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="make-rental.html">Make Rental</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="my-rentals.html">My Rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="login.html">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  